<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Dotsquares. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
       <add id="uploadfiles::base" title="Product Attachments" module="Dotsquares_FilesCollection" sortOrder="7" resource= "Dotsquares_FilesCollection::sample"/> 
        <add id="dotsquares_filescollection::filescollection" title="Manage Attachments" module="Dotsquares_FilesCollection" sortOrder="10" parent="uploadfiles::base" action="dotsquares_filescollection/items/" resource="Dotsquares_FilesCollection::items"/>
    </menu>
</config>
